.area{
  position: absolute;
  z-index: 8000;
  border: none;
  resize: block;
  width: 98%;
  height: 100vh;
  font-size: 1rem;
  background-color: rgba(255,255,255,0);
  overflow:hidden;
  margin-right: 2rem;
}

.area:focus, .area:active{
  border: none;
  outline: none;
}

#root{
  overflow: hidden;
}

#defaultP5{
  position: absolute;
  z-index: 2000;
}

div {
  overflow: hidden;
}

textarea {
  overflow: hidden;
  padding: 2rem;
  width: 98vw;
}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.buttonMenu{
  position: fixed;
  z-index: 20000;
  top:1rem;
  right: 1rem;
  background-color: rgb(200,200,200,0.5);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 10000;
  top:3rem;
  right: 1rem;
  width:260px;
  height: 360px;
  background-color: rgb(200,200,200,0.8);
  border-radius: 5px;
}

.inputs{
  position: absolute;
  z-index: 10000;
  cursor: pointer;
  margin-left: 0.5rem;
}
